@font-face {
    font-family: Raleway;
    src: url("font/Raleway-Regular.ttf")format("truetype"),
        url("font/Raleway-Italic-VariableFont_wght.ttf")format("truetype"),
        url("font/Raleway-VariableFont_wght.ttf")format("truetype")
        url("font/Raleway-ExtraBold.ttf")format("truetype");
}
*
{
        font-family: "Raleway", Impact, sans-serif;
        color: black;
        padding: 0%;
        margin: 0%;
}
h1, h2
{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;

}
h3
{
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
}
/*................HEADER.....................*/
h1
{
    margin-bottom: 8px;
}
.logo img
{
    width: 80px;
    height: 40px;
    margin-left: 70px;
    padding-top: 35px;
    margin-bottom: 5px;
}
.header
{
    display: flex;
    flex-direction: row;
}
.suiteheader
{
    line-height: 25px;
    margin-left: 50px;
}
.nbrelogement
{
    margin-bottom: 20px;
}
/*.........................................LIENS..................................*/
.lienheader
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-left: 60%;
    margin-right: 10%;
}
.lienheader nav
{
    width: 50%;
    text-align: center;
}
.lienheader a:hover
{
    border-top: #0065FC solid ;
    color: #0065FC;
    padding: 29px;
    width: 100%;
}
a
{
    text-decoration: none;
    padding: 0%;
    margin: 0%;
}
.rechercher
{
    display: flex;
    flex-direction: row;
    height: 45px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}
.iconerechercher
{
    display: flex;
    border-radius: 15px 0 0 15px;
    justify-content: center;
    background-color: #f2f2f2;
    width: 45px;
    height: 100%;
    align-items: center;
}
#ville
{
    font-size: 16px;
    font-weight: 700;
    height: 100%;
    padding-left: 10px;
    border: #f2f2f2 solid;
}
button
{
    background: none;
    border: none;
}
.bouton
{
    display: flex;
    background-color :#0065FC;
    color: white;
    margin-bottom: 20px;
    height: 100%;
    width: 110px;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    
}
.iconebouton i
{
    display: none;
    background-color :#0065FC;
    color: white;
    font-size: 15px;
    height: 45px;
    width: 50px;
    border-radius: 15px 15px 15px 15px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
}
.titreetlien
{
    display: flex;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;

}
.titrefiltre
{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    
}
.filtre
{
    display: flex;
    width: 50%;
    margin-left: 2%;
    height: 40px;
    align-items: center;
    font-weight: 700;
    font-size: 100px;
    justify-content: space-around;
}
.filtre a:hover
{
    color: red;
}
.iconefiltre i
{
    display: flex;
    border-radius: 50%;
    background-color: #deebff;
    color: #0065FC;
    margin-right: 15px;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
}
.lienfiltre
{
    display: flex;
    height: 100%;
    border-radius: 40px/40px;
    border: #f2f2f2 solid 2px;
    align-items: center;
    font-size: 16px;
    padding-right: 20px;
    justify-content: center;
}
.iconenbre i
{
    display: flex;
    color: #0065FC;
    background-color: white;
    border: #f2f2f2 solid 2px;
    border-radius: 50%;
    padding: 4px 7px 4px 7px;
    margin-right: 10px;
    align-items: center;
    font-size: 10px;
}
.nbrelogement
{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
/*.................................PHOTOS...............................*/
/*.........................HEBERGEMENTS A MARSEILLE.....................*/
.bleu i
{
    color: #0065FC;
    font-size: 10px;
    padding-right: 2px;
}
.grise i
{
    color:#f2f2f2;
    font-size: 10px;
    padding-right: 2px;
}
.etoile
{
    display: inline-flex;
    flex-direction: row;
    position: relative;
    width: 70px;
}
.photo img
{
    display: flex;
    height: 130px;
    width: 100%;
    object-fit: cover; 
    border-radius: 20px 20px 0 0;
}
.description
{
    display: flex;
    flex-direction: column;
    height: 32%;
    width: 98%;
    border-radius: 0 0 20px 20px;
    background-color: white;
    padding-left: 3%;
    padding-top: 3%;
}
.hebergement
{
    display: flex;
    width: 27%;
    height: 180px;
    padding-bottom: 1%;
    font-size: 14px;
    flex-direction: column;
    border: white solid 5px;
    border-radius: 20px;
    box-shadow: rgb(185, 184, 184) 0px 0px 13px 0.1px;
}
.bloc6photos
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 465px;
    flex-wrap: wrap;
    padding-top: 2%;
}
.sectionhebergement
{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-left: 2.3%;
    padding-left: 3.5%;
    padding-right: 3%px;
}
aside
{
    font-weight: 700;
    font-size: 18px;
    margin-top: 4%;
}
/*..................LES PLUS POPULAIRES..............*/
.etoilepop
{
    display: inline-flex;
    flex-direction: row;
}
.photopop
{
    width: 30%;
}
.photopop img
{
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 135px;
    border-radius: 20px 0 0 20px;
}
.descriptionpop
{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 0 10px 10px 0;
    padding-left: 3%;
    padding-top: 2%;
    line-height: 20px;
    
}
.populaire
{
    display: flex;
    flex-direction: row;
    border: solid white 5px;
    height: 135px;
    width: 80%;
    padding-bottom: 0%;
    border-radius: 20px;
    box-shadow: rgb(185, 184, 184) 0px 0px 13px 0.1px;
}
.bloc3photos
{
    display: flex;
    flex-direction: column;
    height: 555px;
    align-items: center;
    padding-top: 1%;
    justify-content: space-between;
}
.titrepop
{
    display: flex;
    align-items: center;
    height: 40px;
    padding-bottom: 20px;
    padding-left: 10%;
}
.titrepop i
{
    font-size: 20px;
    margin-left: 40%;
    padding-top: 20px;
}
.sectionpopulaire
{
    height: 625px;
    width: 40%;
    background-color: #f2f2f2;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
}
.hebergepop
{
    display: flex;
    flex-direction: row;
}
/*..............ACTIVITES................*/
.titreactivite
{
    margin-left: 50px;
    margin-top: 20px;
}
.descriptionactivite
{
    height: 30px;
    width: 90%;
    border-radius: 0 0 20px 20px;
    background-color: white;
    padding-left: 20px;
    line-height: 40px;
}
.photogrande img
{
    height: 380px;
    width: 100%;
    object-fit: cover; 
    border-radius: 20px 20px 0 0;
}
.activitegrande 
{
    height: 100%;
    width: 24%;
    box-shadow: rgb(185, 184, 184) 0px 0px 13px 0.1px;
    border-radius: 20px 
}
.activitepomegue img
{
    object-fit: cover;
    height: 160px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.activitepomegue
{  
    height: 200px;
    width: 100%;
    box-shadow: rgb(185, 184, 184) 0px 0px 13px 0.1px;
    border-radius: 20px
}
.activitefrioul img, .activitelongchamp img
{
    object-fit: cover;
    height: 140px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.activitefrioul, .activitelongchamp
{
    height: 180px;
    width: 100%;
    box-shadow: rgb(185, 184, 184) 0px 0px 13px 0.1px;
    border-radius: 20px
}
.activitedame img
{
    object-fit: cover;
    height: 170px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.activitedame
{
    height: 210px;
    width: 100%;
    box-shadow: rgb(185, 184, 184) 0px 0px 13px 0.1px;
    border-radius: 20px
}
.deuxiemerang, .quatriemerang
{
    display: flex;
    flex-direction: column;
    width: 19%;
    height: 100%;
    justify-content: space-between;
}
.blocphoto
{
    display: flex;
    height: 420px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.sectionactivite
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*....................FOOTER............................*/
.footer
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    background-color: #f2f2f2;
    margin-top: 50px;
    
}
.texte
{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 90%;
    padding-left: 40px;
    padding-top: 25px;
}
.footer a
{
    line-height: 30px;
}
/*..............PETITE RESOLUTION.....................*/
@media screen and (max-width: 1680px) and (min-width: 1383px)
{
    .hebergement
    {
        width: 24%;
    }
    .filtre
    {
    width: 80%;
    }   
}
@media screen and (max-width: 1382.99px) and (min-width: 992px)
{
    .hebergement
    {
        width: 27%;
        height: 40%;
    }
    .description
    {
        height: 37%;
        width: 100%;
        padding: 0.5%;
    }
    .filtre
    {
        width: 100%;
        margin-right: 5%;
    }
    .sectionactivite
    {
        width: 100%;
    }
    .blocphoto
    {
        width: 98%;
        justify-content: space-around;
        margin: 0%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 3%;
    }
    .descriptionactivite
    {
        line-height: 15px;
    }
}            
/*.....................TABLETTE................*/
@media screen and (max-width: 992px) and (min-width: 768px)
{
    .body
    {
        width: 100%;
    }
    /*.....................HEADER TABLETTE......................*/
    
    /*.....................SUITE HEADER TABLETTE.....................*/
    .lienheader
    {
        width: 80%;
        margin-left: 30%;
        font-weight: 700;
        font-size: 18px;
    }
    .lienheader a:hover
    {
        border-top: transparent;
        border-bottom: #0065FC solid;
        text-decoration: none;
    }
    .suiteheader
    {
        width: 100%;
        margin-top: 25px;
        text-align: center;
        padding-bottom: 20px;
        margin-left: 0px;
    }
    .rechercher
    {
        width: 100%;
        justify-content: center;
    }
    .titrefiltre
    {
        margin-left: 30px;
    }
    .titreetlien
    {
        justify-content:center;
    }
    .filtre
    {
        width: 79%;
        margin-left: 0px;
        margin-right: 10px;
    }
    .lienfiltre
    {
        margin-left: 0px;
    }
    .iconefiltre i
    {
        width: 40px;
        height: 40px;
        margin-right: 2px;
    }
    .nbrelogement
    {
        justify-content: center;
    }
    /*....................HEBERGEMENTS TABLETTE...................*/
    #lienheberg
    {
        margin-top: 3%;
        text-align: center;
    }
    aside
    {
        text-align: center;
        margin: 0%;
    }
    .hebergepop
    {
        flex-direction: column;
    }
    .bloc6photos
    {   
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        height: 500px;
        margin-top: 3%;
        margin-left: 5%;
        padding: 0%;
    }
    .description
    {
        width: 97%;
        height: 41%;
        justify-content: space-around;
    }
    .photo
    {
        border-radius: 0px 0px 0 0;
    }
    .hebergement
    {
        flex-direction: column;
        width: 28%;
        height: 41%;
        margin: 0%;
        padding: 0%;
    }
    .sectionhebergement
    {
        width: 95%;
        height: 640px;
        margin-top: 30px;
        margin-bottom: 0px;
        margin-left: 30px;
        margin-right: 50px;
        padding: 0%;
    }
    /*.......................POPULAIRES TABLETTE.............*/
    .photopop
    {
        width: 100%;
    }
    .photopop img
    {
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    .descriptionpop
    {
        width: 96%;
        height: 41%;
        border-radius: 0 0 10px 10px;
        padding-left: 10px;
    }
    .etoilepop
    {
        padding-top: 0px;
    }
    .etoilepopcoeur
    {
        padding-top: 0px;
    }
    .populaire
    {
        flex-direction: column;
        width: 28%;
        height: 90%;
    }
    .bloc3photos
    {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
        padding-top: 0%;
        width: 90%;
        height: 260px;
        margin-bottom: 0%;
        padding-bottom: 0%;
        margin-left: 5%;
    }
    .sectionpopulaire
    {
        width: 95%;
        height: 375px;
        margin: 0%;
        margin-left: 30px;
        margin-right: 50px;
        align-items: center;
    }
    .titrepop
    {
        width: 80%;
        padding-top: 1%;
        padding-bottom: 0;
        margin-left: 8%;
        padding-left: 0%;
    }
    .titrepop i
    {
        padding-bottom: 0px;
        padding-top: 3%;
        padding-left: 0%;
        margin-left: 5%;
    }
    .hebergepop
    {
        flex-direction: column-reverse;
    }
    /*.......................ACTIVITES TABLETTE.................*/
    .descriptionactivite
    {
        height: 30px;
        width: 100%;
        line-height: 15px;
        padding-top: 10px;
        text-align: center;
        padding-left: 0%;
    }
    .titreactivite
    {
        text-align: center;
        margin: 0%;
        padding: 0%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    /*...................FOOTER TABLETTE....................*/
    .footer
    {
        margin-top: 50px;
        height: 200px;
    }
    .texte
    {
        width: 100%;
        margin-right: 20px;
    }
}    
    /*.....................MOBILE................*/
@media screen and (max-width: 767.99px) and (min-width: 375px)
{
    .body
    {
        width: 100%;
    }
    /*..................HEADER MOBILE.................*/
    .header
    {
        flex-direction: column;
        width: 99%;
        margin: 0%;
        align-items: center;
    }
    .logo img
    {
        width: 100px;
        height: 50px;
        margin-bottom: 40px;
    }
    .lienheader
    {
        margin: 0%;
        padding-left: 0%;
        padding-right: 0%;
        width: 100%;
        height: 50px;
        font-size: 18px;
        padding-bottom: 0px;   
        text-align: center;
        justify-content: space-around;
        border-bottom: #f2f2f2 solid;
    }
    
    .lienheader a:hover
    {
        border-top: none;
        padding: 0%;
    }
    .lienheader nav:hover
    {
        width: 50%;
        border-bottom: solid #0065FC 3px;
        padding-bottom: 30px;
    }
    /*...........SUITE HEADER MOBILE.............*/
    .suiteheader
    {
        margin-left: 20px;
        margin-right: 25px;
        height: 500px;
    }
    .bouton
    {
        display: none;
    }
    .iconebouton i
    {
        display: flex;
    }
    .rechercher
    {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .titreetlien
    {
        flex-direction: column;
        height: 240px;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
    .titrefiltre
    {
        font-weight: 800;
        font-size: 16px;
        width: 20%;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .filtre
    {
        width: 100%;
        height: 180px;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0%;
        padding: 0%;
    }
    .lienfiltre
    {
        height: 45px;
    }
    .nbrelogement
    {
        align-items: flex-start;
        margin: 0%;
        padding: 0%;
        margin-left: 10px;
    }
    
    /*..................POPULAIRES MOBILE..............*/
    .hebergepop
    {
        flex-direction: column-reverse;
        margin-top: 18px;
        margin: 0%;
        padding: 0%;
        margin-top: 40px;
    }
    .bloc3photos
    {
        width: 100%;
        height: 77%;
        padding: 0%;
        margin: 0%;
    }
    .titrepop
    {
        padding-bottom: 30px;
        padding-top: 20px;
        margin-left: 5px;
    }
    .titrepop i
    {
        margin-left: 90px;
    }
    .sectionpopulaire
    {
        width: 100%;
        height: 625px;
        margin: 0%;
        padding: 0%;
        border-radius: 0%;
    }
    /*.............HEBERGEMENT MOBILE.............*/
    .sectionhebergement
    {
        flex-direction: column;
        height: 1600px;
        width: 100%;
        border-radius: 0px;
        padding: 0%;
        margin: 0%;
        margin-top: 10px;
        background-color: transparent;
    }
    .hebergement
    {
        width: 100%;
        height: 14%;
    }
    #lienheberg
    {
        margin-left: 40px;
    }
    .bloc6photos
    {
        height: 1500px;
        width: 80%;
        flex-wrap: nowrap;
        padding: 0%;
        margin-left: 40px;
        margin-right: 0px;
        margin-top: 6%;
    }
    aside
    {
        padding-top: 25px;
        margin-left: 45px;
    }
/*..................ACTIVITES MOBILE...................*/
    .titreactivite
    {
        margin: 0%;
        margin-left: 45px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .sectionactivite
    {
        width: 99%;
        margin: 0%;
        padding: 0%;
    }
    .activitegrande
    {
        width: 81%;
        height: 180px;
        padding: 0%;
        margin-bottom: 30px;
        margin-left: 45px;
        margin-right: 0px;
        flex-direction: column;
    }
    .deuxiemerang, .quatriemerang
    {
        width: 99%;
        height: 385px;
        padding: 0%;
        margin-bottom: 28px;
    }
    .blocphoto
    {
        height: 1250px;
        width: 100%;
        flex-direction: column;
        margin: 0%;
        justify-content: flex-start;
        padding-top: 20px;
    }
    .activitepomegue, .activitefrioul, .activitedame, .activitelongchamp
    {
        width: 82%;
        height: 180px;
        margin: 0%;
        padding: 0%;
        margin-left: 45px;
        margin-right: 0px;
        flex-direction: column;
    }
    .activitepomegue img, .activitefrioul img, .activitedame img, .activitelongchamp img
    {
        height: 130px;
        width: 100%;
    }
    .activitegrande img
    {
        height: 140px;
        width: 100%;
    }
    .descriptionactivite
    {
        padding-left: 10px;
        height: 40px;
        width: 96%;
    }
/*....................FOOTER MOBILE............................*/
    .footer
    {
            height: 455px;
            width: 100%;
            margin: 0%;
            padding: 0%;
    }
    .texte
    {
        flex-direction: column;
        justify-content: space-around;
    }
    .footer a
    {
        line-height: 25px;
    }
    
}